SPI-slave/Release/SPI-slave.cpp.d
SPI-slave/Release/SPI-slave.cpp.o
SPI-slave/Release/SPI-slave.ino.elf
SPI-slave/Release/SPI-slave.ino.hex
SPI-slave/Release/board.buildinfo
SPI-slave/Release/core.a
SPI-slave/__vm/Configuration.Release.vmps.xml
